@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../opensans.woff') format('woff');
}

body
{
    background-color: #CFC9B2;
    height: 100%;
}

*
{
	font-family: 'Open Sans', sans-serif;
}

#window
{
    width: 94%;
    height: 94%;
	position: relative;
	left: 3%;
	top: 3%;
    overflow: hidden;
}

#closeBt
{
    background-color: #6D1F18;
    float: right;
    border-radius:50px;
	cursor: pointer;
}

#resizeBt
{
    background-color: #6D1F18;
    width: 35%;
	border-radius:50px;
	cursor: pointer;
}

.btOverlay
{
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    width: 15%;
    height: 10%;
    font-size: 120%;
	margin-bottom: 5px;
}

.imgHolder
{
	display: block;
	align-items: top;
    width: 100%;
    height: 100%;
	margin-top: 10px;
    overflow: auto;
}

#imgView
{
	max-height: none;
	max-width: none;
}

#overlay
{
    display:none;
	position:absolute;
    left:0;
    top:0;
	margin-top: 0%;
	margin-left: 0%;
    width: 100%;
    height: 100%;
    z-index:9999;
    background-color:#000;

}

#wraper
{
    width: 100%;
}

header
{
    background-color: #066158;
    padding-top: 0.5em;
    padding-bottom: 1.5em;
    padding-right: 1em;
    padding-left: 1em;
    margin: 0;
    margin-bottom: 1%;
    color: #fff;
    text-shadow: 1px 1px 1px #000;

}

#commonTopHeader h1, #commonTopHeader h2
{
    display: inline;
    font-size: 200%;
}

header #headerMenuLink
{
	float: right;
    font-size: 100%;
	text-decoration: none;
    color: white;
    cursor: pointer;

	display: block;
    text-align: center;
	padding-right: 5px;

}

header #headerMenuLink #headerMenuBars
{
    font-size: 200%;
	display: block;
}

#titleObject
{
    text-align: center;
    color: black;
    text-shadow: 1px 1px 0px #fff;
}

#galeriaBtArea
{
	text-align: right;
	width: 100%;
	margin-top: 20px;
}

#galeriaBtArea #galeriaBt
{
	background-color: #6D1F18;
    color: white;
    text-shadow: 1px 1px 1px #000;
	
	font-size: 170%;
	text-decoration: none;
	padding: 0.15em 0.35em 0.15em 0.35em;
	
}

#galeriaSidr {
    width: 90% !important;
}

#galeriaSidr.right {
	right: -90%;
}

#headerSidr {
	max-width: 90% !important;
}

#headerSidr.left {
	right: -90%;
}

#headerSidr #closeIconHolder
{
	text-align: right;
	margin: 20px 20px 30px 0px;
}

#headerSidr #closeIconHolder .closeIcon
{
	width:  50px;
	height: 50px;
	
	cursor: pointer;
}

.sidr-inner
{
	width: 100%;
	height: 100%;
}

#sidr-id-galeriaContainer
{
	padding: 15px 0px 15px 15px;
}

.sidr-class-closeIcon
{
	width:  50px;
	height: 50px;
	
	display: block;
	margin: 5px 0px 50px 5px;
	cursor: pointer;
}

.sidr-class-galeriaItem
{
	width: 120px;
	display: inline-block;
	margin-right: 3%;
	margin-bottom: 3%;
	vertical-align: middle;
}

.sidr-class-galeriaItem a
{
	cursor: pointer;
}

.sidr-class-galeriaItem a img
{
	width: auto;
	height: auto;
	max-width: 120px;
	max-height: 120px;

	display: block;
	margin: auto;
	padding: 3px 3px 3px 3px;
	background-color: #009292;
}

.sidr-class-galeriaItem a figcaption
{
	max-width: 120px;
	margin-top: 0.2em;
	text-align: center;
}

#menuObject
{
    width: 100%;

    background-color: #6D1F18;
    color: white;
    text-shadow: 1px 1px 1px #000;

    text-align: center;
	margin-top: 1.5em;
    padding-top: 0.01em;
}

#menuObject ul
{
	display: block;
}

#menuObject ul li
{
    display: inline-block;
    list-style: none;
    font-size: 150%;
    margin-right: 1.5em;
	margin-bottom: 0.4em;
}

/* textos brancos no menu inferior */
.iconTextObject:link, .iconTextObject:visited , iconTextObject:active
{
    text-decoration: none;
    color: white;
}

/* hover amarelo nos links e com pointer pro Ver (que não tem href) */
#menuObject ul li a:hover
{
    color: yellow;
    cursor: pointer;
}

/* icones fontAwesome em bloco (p/ nova linha) */
#menuObject ul li a .fa
{
    display: block;
}

#slideArea
{
	margin: auto;
	max-width: 400px !important;
}

#slide
{
    margin: 0;
}

.bx-wrapper
{
	padding-left: 5%;
	padding-right: 5%;
    max-width: 400px !important;
    margin-bottom: 4% !important;
}

.bx-wrapper .bx-viewport
{
    background: black !important;
}

#listaCenarios
{
	margin-top: 50px;
}

#listaCenarios ul
{
	margin: auto;
	width: 75%;
	max-width: 400px;
    display: block;
    list-style: none;
    padding-left: 0;
}
#listaCenarios ul li a
{
    text-decoration: none;
    color: #fff;
}
#listaCenarios ul li
{
	margin-bottom:2em;
	padding: 8% 7% 8% 7%;
    
	font-size: 130%;

    background-color: #066158;

    text-shadow: 1px 1px 1px #000;
	text-align: center;
}

#desafio
{
	text-align: center;
}

#desafio .pergunta .enunciado
{
	margin-bottom: 60px;
}

#desafio .pergunta .respostas .alternativa
{
    margin-bottom: 30px;
}

#desafio #iniciar, 
#desafio #voltar, 
#desafio #desafioBt
{
	width: 120px;
    margin: auto;
    margin-top: 50px;
	padding: 10px 10px 10px 10px;
    
	display: block;
    font-size: 16px;
    text-shadow: 1px 1px 1px #000;
    box-shadow: 2px 5px 10px #888888;
    color: #fff;
  
}
#desafio #iniciar
{
    background-color: rgb(68, 114, 44);
}
#desafio #voltar
{
    background-color: red;
}
#desafio #desafioBt
{
	background-color: rgb(68, 114, 44);
}

#alertaDesafio
{
	font-size: 18px;
	text-align: center;
    color: red;
}

#desafio .alternativa .correct
{
    color: green;
}
#desafio .alternativa .incorrect
{
    color: red;
}
#desafio .respostaCorreta
{
    display: none;
}

#desafio #resultado
{
    font-size: 20px;
    color: #fff;
    text-shadow: 2px 2px 2px #333;
}